@charset "UTF-8";

main {
    max-width: 100%;
    height: auto;
    width: 1400px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
}
#btn{
	text-align: center;
}

#qna {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, rgb(115, 115, 115), rgb(115, 115, 115));
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: 'Noto Serif KR', serif;
/*	margin-left: 30px;*/
	margin-right: 40px;
	margin-bottom: 50px;
	font-size: 30px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
#cell {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, rgb(115, 115, 115), rgb(115, 115, 115));
	border: 0;
	padding-left: 38px;
	padding-right: 38px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: 'Noto Serif KR', serif;
	margin-left: 40px;
/*	margin-right: 25%;*/
	margin-bottom: 50px;
	font-size: 28px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}