@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Sacramento&display=swap');
/*
font-family: 'Nanum Myeongjo', serif;
font-family: 'Sacramento', cursive;
*/

.bottomArea {
    background-color: #f1f1f1;
    padding-block: 60px;
    padding-inline: 10%;
    font-size: 15px;
}

