@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Sacramento&display=swap');
/*
font-family: 'Nanum Myeongjo', serif;
font-family: 'Sacramento', cursive;
*/



.company li{
	font-size: 12px;
}
.bottomArea {
	width: 1400px;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: visible;
    padding-left: 50px;
}
.bottomLogoArea {
	margin-bottom: 20px;
}