@charset "UTF-8";
th, td {word-break: break-all;word-wrap: break-word;white-space: normal;padding: 5px;}
.buy-row td{ height: 60px;}   
#tr_top {background: #ccc;}
#tr_top th {border-bottom: 1px solid #131922;text-align: center;}

.buy-row:nth-child(odd) {background: #f1f1f1;	}
.reservation-row:nth-child(odd) {background: #f1f1f1;	}
.review-row:nth-child(odd) {background: #f1f1f1;	}


.text-right{text-align: right;}
.text-center{text-align: center;}
tr.buy-row:hover{background: #ddd;cursor: pointer;}
tr.reservation-row:hover{background: #ddd;cursor: pointer;}
tr.review-row:hover{background: #ddd;cursor: pointer;}



.pagination li.active a {background-color: rgba(169, 169, 169, 0.9);color: #ffffff;}
.pagination li a:hover{background-color: rgba(100, 100, 100, 0.9);color: #ffffff;}
button{cursor: pointer;}

.calendarContainer.on {background: #999;color: #fff; border-color:#999;}
.calendarContainer.active{background: #000;color: #fff;border-color:#000; }

.totalCount{justify-content: end;display: flex;margin-bottom: 10px;}