@charset "UTF-8";
/* class,.= 소문자 카멜케이스 / id,#= 소문자 스네이크 */
.mypageBox  {
	background-color: white;
	border: 1px solid #e0e0e0;
	padding:50px;
}

#mypage_dashboard {
	margin: 20px;	
}

#mypage_container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /*테스트------------------------------*/
    flex-wrap: wrap;
    justify-content: center; /* 아이템들을 가운데 정렬합니다 */
    gap: 16px; /* 아이템 간 간격을 조정합니다 */
}

#mypage_sideMenu {
	width: 150px;
	margin: 0px 5px 5px 5px;
}

/*----------------마이페이지 공통 css-------------------*/
#main_layout{ 			/*---바디 영역 전체---*/
	padding-top: 40px;  
	width: 70%;  
  	margin: auto;  
}  

#mypage_side_menu li { 
	margin-bottom: 10px;   
}  

#mypage_dashboard_info {
	display: flex;  /* flexbox 레이아웃 사용 */
    justify-content: space-between;
}

#col_1, #col_2 {
	flex: 1;  /* 각 열이 동일한 너비를 가지게 함 */
}

#col_1 {
	padding-left: 30px; 
}

#col_2 ul {
    list-style-type: none;  /* 기본 목록 스타일 제거 */
    padding: 0;  /* 기본 패딩 제거 */
    display: flex;  /* ul 내부의 li 태그들을 가로로 배열 */
    gap: 150px;  /* li 태그들 사이의 간격 조절 */
}
em {
	font-weight: bold;  /* 볼드체로 텍스트 스타일링 */
}

div > hr{
	margin: 20px;
	border-width: 2px;
	border-style: solid; 
	border-color: #000;
}
.container {
    display: flex;
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 10px; /* 각 항목의 마진 */
    font-size: 13px;
    cursor: pointer;
}

.text {
	text-align: center;
}
#menu {
	
	padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f0f0f0;	/*소매뉴 구분선*/
}

#none {
	margin: 0px 20px 20px 0px;
	flex: 1;
	width: auto;
	height: auto;
}

/*-------------------------------------------------*/

#page_title{
	margin-bottom: 20px;
}

.reservationConfirmContainer {
    align-items: center;
}

.reservationConfirmTerm {
	display: flex;
    padding: 25px 48px;
    margin-bottom: 25px;
    justify-content: space-between;
    background-color: #f8f8f8;
}

#reservation_confirm_term_right {
	flex: 1;
	margin: auto;
	
    display: flex;
    justify-content: flex-end;
}

#period {
	margin: 0;
	text-align: center;
}

.reservationConfirmTerm input[type="button"] {
	padding: 11px 20px;
    font-size: 16px;
    color: #000;
    border: 1px solid #e0e0e0;
    border-left: none;
    background-color: #fff;
}

/*-------------------------------------------------*/

.mypageContents { 
 		width: 70%; 
        float: right; 
 		position: relative; 
 		margin-left: 100px; /**/
 	}

#tr_top th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/*--찜, 장바구니 -*/
/* .item {  */
/*      margin-right: 30px;  */
/*  }  */

/* 화면 가로 길이가 768px 이하일 때 적용되는 스타일 */
@media (max-width: 768px) {
    th {
        padding: 5px; /* 간격을 5px로 줄임 */
    }
}


.passwd{
	width: 456px;
	height: 40px;
	margin: 30px;
	font-size: 20px;
}
.submit{
	color: #fff;
	background: #131922;
	height: 48px;
    font-size: 14px;
    flex: initial;
    width: 456px;
    cursor: pointer;
}

/*****달력****/
.calendarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
}


.text-center{
	text-align: center;
}

#footer{
	margin-top: 30px;
}
#bottomArea{
	width: 68.5%;	
	margin: 0 auto;
	border-top: 2px solid #e0e0e0;
	
}
#bottomLogoArea{
	padding: 30px;
}

#bottomArea #company{
	padding: 30px;
}


#mypage_sideMenu .menu ul li a.active{
	color:#e31313 !important;
	font-weight: 500;
}
#mypage_sideMenu .menu ul li a.active b{color:#e31313 !important;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}
.mb110{margin-bottom:110px;}
.mb120{margin-bottom:120px;}
.mb130{margin-bottom:130px;}
.mb140{margin-bottom:140px;}
.mb150{margin-bottom:150px;}
.mb160{margin-bottom:160px;}
.mb170{margin-bottom:170px;}
.mb180{margin-bottom:180px;}
.mb190{margin-bottom:190px;}
.mb200{margin-bottom:200px;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mt110{margin-top:110px;}
.mt120{margin-top:120px;}
.mt130{margin-top:130px;}
.mt140{margin-top:140px;}
.mt150{margin-top:150px;}
.mt160{margin-top:160px;}
.mt170{margin-top:170px;}
.mt180{margin-top:180px;}
.mt190{margin-top:190px;}
.mt200{margin-top:200px;}


.pagination {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    position: relative;
     justify-content: center;
     display: flex;
}
.pagination li {
    height: 40px;
    width: 40px;  
 
}
.pagination li a {
    /* background: #eee; */
    color: #000;
    /* border-radius: 50%; */
    border: 1px solid #eee; 
    display: block;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    height: inherit;
    line-height: 42px;
    text-align: center;
}
.pagination li a:hover , .pagination li.active a {
    background-color: #764af1;
    color: #ffffff;
}
