@charset "UTF-8";

.detailTopLikeShare button {
	overflow: visible;
    margin: 0;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1) !important;
    outline: none;
}
.detailContainer {
	justify-content: space-between;
	align-items: center;
	width: auto;
}
.detailTop{
	display: flex;
	width: 1400px;
    height: auto;
    margin-bottom: 50px;
}
.detailTopLeft {
	display: inline;
	width: 50%;
	float: left;
	align-items: center;
	text-align: center;
}
.detailTopRigth {
	display: inline;
	width: 50%;
	float: right;
}
.productNum p {
    margin: 0;
    font-size: 16px;
}
.detailTopTitle p {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}
.detailTopTitle {
	margin-bottom: 10px;
}
.productPrice span {
    font-size: 20px;
    font-weight: bold;
}
.productPrice b {
    font-size: 30px;
    color: #464646; 
}
.productPrice {
	padding-bottom: 30px;
	border-bottom: 1px solid #e0e0e0;
}

/*======= 이미지 css =======*/
.detailTopMainImg {
	position: relative;
    width: auto;
    height: 500px;
}
.detailTopMainImg img{
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    object-fit: cover;
    margin: auto;
}
.detailTopMiniImg{
	display: flex;
	justify-content: center;
    white-space: nowrap;
	text-align: center;
    white-space: nowrap;
    width:auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom: auto;
}
.detailTopMiniImg ul {
	display: flex;
    align-items: center;
    list-style: none;
}
.detailTopMiniImg li {
	float: left;
}
.detailTopMiniImg img{
	display: block;
	margin:auto;
    top: 0;
    left: 0;
    width:50px;
    object-fit: cover;
    margin: auto;
}
/*==========================*/

.detailTopMainImgReview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 500px;
    margin:auto;
    background-color: rgba(29, 29, 29, 0.6);
}
.ImgReview {
	height: 90px;
	width: 400px;
    background-color: #ffffff;
    margin: 10px;
}
.ImgReview a{
    display: block;
    overflow: hidden;
}
.orderAveStar strong{
	display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    line-height: 23px;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: -0.4px;
    text-align: center;
}
.orderAveStar b {
    position: relative;
    z-index: 1;
    width: 100%;
    line-height: 23px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(255, 87, 87);
    letter-spacing: -0.4px;
    text-align: center;
}
.ImgReviewMore, .orderAveStar span {
	color: white;
} 
.ImgReviewImg {
	display: block;
	overflow: hidden;
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #ecf1f3;
    margin-right: 10px;
}
.ImgReviewInfo {
	text-align: left;
	padding: 10px;
	font-size: 14px;
}

/*======== TopRight ========*/
/*관심상품*/
.favorite_on {
	background-repeat: no-repeat;
	background-image: url("../store_img/favorite_on.png");
	width: 40px;
	height: 40px;
}
.favorite_off {
	background-repeat: no-repeat;
	background-image: url("../store_img/favorite_off.png");
	width: 40px;
	height: 40px;	
}
.detailTopLikeShare {
    text-align: left;
    display: flex;
    justify-content: flex-end;
}
.detailTopInfo th {
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    vertical-align: baseline;
    padding-top: 28px;
    background: none;
    height: auto;
}
.detailTopInfo td {
    width: 50%;
    font-size: 18px;
    /* font-weight: bold; */
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    vertical-align: baseline;
    padding-top: 28px;
    background: none;
    height: auto;
}
.btn_black {
	font-size: 20px;
    font-weight: bold;
    width: 50%;
    margin: 0px -3px 0px 0px;
    height: 56px;
	color: white;
    background-color: #464646;
    border: 1px solid #464646;
}
.btn_white {
	font-size: 20px;
    font-weight: bold;
    width: 50%;
    margin: 0px 0px 0px -4px;
    height: 56px;
	color: #464646;
	background-color: white;
	border: 1px solid #464646;
}
.detailTopSumTitle {
	font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}
.detailTopSumPrice {
	font-size: 20px;
    font-weight: bold;
}
.priceSum {
	font-size: 30px;
    color: #464646;
    font-weight: bold;
}
.detailTopSum{
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #464646;
    margin-top: 30px
}
.formAmount {
	align-items: center;
	display: flex;
}
.formAmount input {
	width: calc(100% - 92px);
    height: 40px;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    color: #141a23;
}
.formAmount button {
	border: 1px solid #e0e0e0;
	color: #464646;
	width: 40px;
	height: 40px;
	font-size: 30px;
	text-align: center;
}
.formAmount input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}
/*==========================*/

.sticky{
	z-index: 100;
	background-color: white;
	position:sticky;
	top:0px;
}
.detailBottomTab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 68px;
    border-bottom: 1px solid #e0e0e0;
}
.detailBottomTabItem {
	height: 68px;
	width: 25%;
	margin: 0 auto;
	text-align: center;
}
.detailBottomTab a{	
	font-size: 20px;
	color: #464646;
	background-color: white;;
	border: none;
	width: 100%;
	line-height: 68px;
	text-align: center;
}
.detailInfoImgArea {
    display: flex;
    justify-content: center;
    padding-block: 10%;
}

/*============= < 리뷰, QnA > =============*/
.reviewTatle, .qnaTatle, .returnTatle {
    margin: 15px;
}
.reviewTatle a, .qnaTatle a, .returnTatle a {
    font-size: 30px;
    font-weight: bold;
}
.reviewAve, .qnaAve {
    margin: 20px;
}
strong.reviewAveStr {
    font-size: 18px;
}
.reviewAveDashboard {
    display: flex;
    font-size: 30px;
    gap: 20px;
    justify-content: space-between;
}
.reviewContent {
    display: flex;
    align-items: center;
}
.reviewStar {
    display: flex;
    font-size: 17px;
    text-align: center;
    width: 15%;
    align-items: center;
}
.reviewStarMax {
	position: relative;
    display: inline-block;
	width: 175px;
    height: 30px;
    background-position: 0;
    background-repeat: no-repeat;
	background-image: url("../store_img/bg_star_max.png");
}
.bg_star{
	position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.reviewStarMax .bg_star{
	width: 175px;
    height: 30px;
    background-position: 0;
    background-repeat: no-repeat;
	background-image: url("../store_img/bg_star_max_on.png");
}
.reviewStarMin {
	position: relative;
    display: inline-block;
	width: 90px;
    height: 15px;
    background-position: 0;
    background-repeat: no-repeat;
    background-image: url("../store_img/bg_star_min.png");
}
.reviewStarMin .bg_star {
	width: 90px;
    height: 15px;
    background-position: 0;
    background-repeat: no-repeat;
    background-image: url("../store_img/bg_star_min_on.png");
}
span.reviewAveScore {
    font-weight: bold;
}
.reviewMaxScore, .reviewCount {
    color: #BDBDBD;
}
.reviewCount {
    font-size: 20px;
}
.reviewBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-inline: 10%;
    height: 200px;
    border-bottom: 1px solid #e0e0e0;
}
.reviewStar {
    font-size: 19px;
    text-align: center;
    width: 15%;
}
.reviewInfo {
    display: flex;
    text-align: left;
    width: 65%;
}
.reviewImg {
    padding: 10px;
    width: 20%;
    height: auto;
    text-align: center;
}
.mainLayout img {
    max-width: 100%;
    height: auto;
}
.reviewIdDate {
    text-align: right;
    width: 20%;
}
.qnaContainer, .returnContainer {
    margin-block: 50px;
}
.qnaItem, .returnItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.answerBox, .questionBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-inline: 10%;
    height: 150px;
    border-bottom: 1px solid #e0e0e0;
}
.qnaAnswer {
	width:15%;
}
.qnaAnswer span{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 29px;
    color: #fff;
    border-radius: 2px;
    background-color: #bbbec2;
    padding: 0 15px;
}
.questionInfo {
    width: 65%;
}
.questionIdDate {
    text-align: right;
    width: 20%;
}
.answerBox {
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-start;
    padding-left: 350px;
}
.answerInfo {
    text-align: left;
}
.returnBox {
	display: flex;
    width: 100%;
    border: 0;
    border-collapse: collapse;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
}
.returnInfo {
    margin-top: 20px;
    padding: 19px 0;
   	border-block: 1px solid #ededed;
    background-color: #fafafa;
    /* font-size: 12px; */
    text-align: center;
    width: 80%;
}
.returnTable {
    width: 80%;
}
.returnSub {
	background-color: #fafafa;
    font-weight: normal;
    text-align: left;
}
.answerIdDate {
    text-align: right;
    width: 20%;
}
.answerInfo {
    text-align: left;
    width: 80%;
}
th, td {
    padding: 9px 17px 11px 20px;
/*     border-top: 1px solid #ededed; */
    border-bottom: 1px solid #ededed;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    word-break: keep-all;
}