
@charset "UTF-8";

body {
	font-family: 'Noto Serif KR', serif;
	text-decoration: none;	 /*하이퍼링크 밑줄 제거 */
	color: #464646;
	background-color: rgb(255, 255, 255);
}

input.indent, .reservationInput {
	margin-left: 3em;	
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px; 
	background: rgb(255, 255, 255);
	padding: 10px 15px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-bottom: 50px;
	margin-left: 1px;
	/*	text-align: center;*/
	margin-bottom: 27px;
	font-family: 'Noto Serif KR', serif;
}

textarea.center {
	margin-left: 25em;	
	
}

/*div.center*/
/* {*/
/* 	text-align: left;*/
/* }*/
 
div.mainLayout{
 	height: 1500px;
}
 
p{
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: rgb(184, 197, 201);
	text-decoration: none;
}

.input {
/* 	width: 76%; */
	color: rgb(128, 128, 128);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgb(255, 255, 255);
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.1);
	margin: 5px;
/* 	margin-left: 46px; */
	text-align: center;
/* 	margin-bottom: 27px; */
	font-family: 'Noto Serif KR', serif;
}

tr{
	margin: 4em auto;
}

input[type=button],[type=submit] {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, rgb(128, 128, 128), rgb(128, 128, 128));
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: 'Noto Serif KR', serif;
/* 	margin-left: 20%; */
/* 	margin-right: 20%; */
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

table.resConfirm{
	font-size: 13;
	font-family: 'Noto Serif KR', serif;
}

h3{
	font-size: 20px;
	text-align: center;
}
h1{
	margin-left: 30%;
	
}
h2{
	font-size: 35px;
	text-align: center;
}

table {
	font-size: 13pt;
	margin: 1em auto;
}
tr {
	margin: 2em auto;
}

/* 라디오버튼 css */
.form_radio_btn {
  	width: 20%;
	height : 40px;
  	border: 1px solid #EAE7E7;
  	border-radius: 20px;
  	float: left; 
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: block;
  	border-radius: 20px;
 	margin: 0 auto;
  	text-align: center;
  	height: -webkit-fill-available;
  	line-height: 45px;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: rgb(80, 80, 80);
	color: #fff;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio] + label {
	background: #F9FAFC;
	color: #666;
}

.reservationInput:focus{
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

/* 달력 css */
.custom_table {
    background-color: #FFFFFF;
	width: 600px;
	height: 600px;
	margin-left: 2em auto;
	padding: 40px;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	
}
.custom_calendar_table td {
    text-align: center;
}

.custom_calendar_table thead.cal_date th {
    font-size: 1.5rem;
}

.custom_calendar_table thead.cal_date th button {
    font-size: 1.5rem;
    background: none;
    border: none;
}

.custom_calendar_table tbody td {
	cursor: pointer;
}

.custom_calendar_table tbody td:nth-child(1) { 
	color: red; 
} 

.custom_calendar_table tbody td:nth-child(7) { 
	color: #288CFF; 
} 

.custom_calendar_table tbody td.select_day {
    background-color:  rgb(80, 80, 80);
    color: #fff;
    border-radius: 20px;
}

.info_table{
	background-color: #FFFFFF;
	width: 1000px;
	height: 600px;
	margin: 2em auto;
	padding: 40px;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	text-align: center;
	-webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
}
