<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.itwillbs.c3t2.mapper.AdminMapper">
     	<select id="selectMemberList" resultType="com.itwillbs.c3t2.vo.MemberVO">
			SELECT * FROM MEMBER
		</select>
    	<select id="selectMemberOut" resultType="map">
			SELECT COUNT(result1) as reson1
					,COUNT(result2) as reson2
					,COUNT(result3) as reson3
					,COUNT(result4) as reson4
					,COUNT(result5) as reson5
					,COUNT(result6) as reson6
			FROM MEMBER_OUT
		</select>
		<select id="selectReservationList" resultType="map">
			SELECT rm.reservation_num
			,CONCAT(rm.reservation_date,' ',reservation_time) AS reservation_date
			,ROW_NUMBER() OVER(order by reservation_num) AS num
			,reservation_person_name
			,reservation_person_count
			,reservation_cancel
			,reservation_member_id
			,reservation_guest_num
            ,reservation_email
			,CONCAT(dinning_num,' 번 테이블') AS dinning_num
			,restaurant_num
			FROM RESERVATION rm JOIN ( SELECT reservation_num,reservation_date
										FROM RESERVATION
										WHERE reservation_date > date_format(now(),'%Y-%m-%d')) rs
			ON rm.reservation_num = rs.reservation_num;
		</select>
		<select id="selectAdmin" resultType="com.itwillbs.c3t2.vo.AdminVO">
			SELECT *
			FROM ADMIN
			WHERE admin_id = #{admin_id}
		</select>
		<select id="selectNotice" resultType="map">
			SELECT  notice_num
				  , notice_subject
				  , notice_content
				  , notice_readcount
				  , DATE_FORMAT(notice_date, '%Y년 %m월%d일 %H:%i') as notice_date
				  , ROW_NUMBER() OVER(order by notice_num) as num
			FROM NOTICE
		</select>
		<select id="selectProductList" resultType="map">
			SELECT 	product_num
					,product_name
					,product_price
					,product_info
					,product_release
					,product_category_name
					,ifnull(favorite_count,0) AS favorite_count
					,ROW_NUMBER() OVER(ORDER BY product_num) AS num
			FROM PRODUCT_CATEGORY c JOIN (SELECT p.product_num
										,product_name
										,product_price
										,product_info
										,product_release
										,product_category_num
										,favorite_count
										FROM PRODUCT p 
										LEFT JOIN (SELECT product_num,count(favorite_num) as favorite_count
													FROM FAVORITE
													GROUP BY product_num) f
										ON p.product_num = f.product_num) a
			ON c.product_category_num =a.product_category_num
		</select>
		<select id="selectProduct" resultType="com.itwillbs.c3t2.vo.ProductVO">
			SELECT  product_num
					,product_name
					,product_price
					,product_info
					,product_release
					,product_category_name
					,p.product_category_num
					,product_main_img
					,product_main_img_real_file
					,ROW_NUMBER() OVER(order by product_num) as num
			FROM PRODUCT p JOIN PRODUCT_CATEGORY c
			ON p.product_category_num = c.product_category_num
			WHERE product_num = #{product_num}
		</select>
		<select id="selectProductImg" resultType="map">
			SELECT *
			FROM PRODUCT_IMG
			WHERE product_num = ${product_num}
		</select>
		<insert id="insertProduct">
			INSERT INTO PRODUCT
			VALUES(null
					   ,#{product_name}
					   ,#{product_price}
					   ,#{product_info}
					   ,now()
					   ,#{product_category_num}
					   ,#{main_file_name}
					   ,#{upload_dir}
				 	 )
		</insert>
		<insert id="insertProductImg">
			<selectKey keyProperty="product_num" resultType="int" order="BEFORE">
				SELECT MAX(product_num)
				FROM PRODUCT
			</selectKey>
			INSERT INTO PRODUCT_IMG
			VALUES(	null
				   ,#{product_num}
				   ,#{info_file_name}
				   ,#{upload_dir}
				  )
		</insert>
		
		<delete id="deleteProductImg">
			DELETE FROM PRODUCT_IMG
			WHERE product_num = #{product_num};
		</delete>

		<delete id="deleteProduct">
			DELETE FROM PRODUCT
			WHERE product_num = #{product_num};
		</delete>
		<insert id="insertNotice">
		INSERT INTO NOTICE
		VALUES(	null
				, #{notice_subject}
				, #{notice_content}
				,now()
				,0
		)
		</insert>
		<delete id="deleteNotice">
		DELETE FROM NOTICE
		WHERE notice_num = #{notice_num}
		</delete>
		<select id="selectReviewList" resultType="map">
			SELECT review_num
				, ROW_NUMBER() OVER(order by review_num) as num
				, review_content
				, order_num
				, r.product_num
				, product_name
				, review_star
				, DATE_FORMAT(review_date, '%Y년 %m월%d일 %H:%i') as review_date
				, member_id
				, review_image
			FROM REVIEW r JOIN PRODUCT p
			ON r.product_num = p.product_num
		</select>
		<select id="selectReview" resultType="map">
			SELECT review_num
				, ROW_NUMBER() OVER(order by review_num) as num
				, review_content
				, order_num
				, r.product_num
				, product_name
				, review_star
				, DATE_FORMAT(review_date, '%Y년 %m월%d일 %H:%i') as review_date
				, member_id
				, review_image
			FROM REVIEW r JOIN PRODUCT p
			ON r.product_num = p.product_num
			WHERE review_num = #{review_num}
		</select>
		<select id="selectEventList" resultType="map">
			SELECT event_num
				, ROW_NUMBER() OVER(order by event_num) as num
				, DATE_FORMAT(event_date, '%Y년 %m월%d일 %H:%i') as event_date
				, event_subject
				, event_content
				, event_image
				, event_image_real_file
			FROM EVENT
		</select>
		<select id="selectEvent" resultType="map">
			SELECT event_image
			FROM EVENT
			WHERE event_num = #{event_num}
		</select>
		<delete id="deleteEvent">
				DELETE FROM EVENT
				WHERE event_num = #{event_num}
		</delete>
		<delete id="deleteReview">
				DELETE FROM REVIEW
				WHERE review_num = #{review_num} 
		</delete>
		<insert id="insertEvent">
			INSERT INTO EVENT
			VALUES(null
				, #{event_subject}
				, #{event_content}
				, now()
				, #{event_img}
				, #{event_image_real_file}
				)
		</insert>
		<select id="selectQnaBoardList" resultType="map">
			SELECT question_num
				,ROW_NUMBER() OVER(order by question_num) as num
				,product_num
				,q.member_id as member_id
				,member_name
				,question_answer
				,IF(ISNULL(question_answer),'답변대기','답변완료') as question_is_answer
				,DATE_FORMAT(question_date, '%Y년 %m월%d일 %H:%i') as question_date
				,question_content
				,secret
			FROM QUESTION q join MEMBER m
			ON q.member_id = m.member_id
			WHERE question_date > CONCAT(YEAR(now())-1,'-',DATE_FORMAT(question_date, '%m-%d %H:%i'))
		</select>
		<select id="selectQnaBoard" resultType="map">
			SELECT question_num
				,q.product_num
				,product_name
				,m.member_id as member_id
				,member_name
				,question_answer
				,IF(ISNULL(question_answer),'답변대기','답변완료') as question_is_answer
				,DATE_FORMAT(question_date, '%Y년 %m월%d일 %H:%i') as question_date
				,question_content
				,IF(ISNULL(question_answer_date),'',DATE_FORMAT(question_answer_date, '%Y년 %m월%d일 %H:%i')) as question_answer_date
			FROM QUESTION  q JOIN MEMBER m
			ON q.member_id = m.member_id 
			JOIN PRODUCT p
			ON p.product_num = q.product_num
			WHERE question_num= #{question_num}
		</select>
		<update id="updateQnaBoard">
			UPDATE QUESTION
			SET question_answer = #{question_answer},
            question_answer_date = now()
			where question_num = #{question_num};
		</update>
		<select id="selectOutDate" resultType="map">
			WITH RECURSIVE result_mon AS (
			SELECT 1 AS rnum
		    UNION ALL
		    SELECT rnum + 1 FROM result_mon
		    WHERE  12 > rnum
			)   
			SELECT CONCAT(r.rnum, '월') as mon
				 , ifnull(m.cnt, 0) as cnt
			FROM result_mon r 
			LEFT JOIN (SELECT MONTH(out_date) AS mon
							, count(out_num) as cnt
						FROM MEMBER_OUT
						WHERE out_date LIKE CONCAT(year(now()),'%')
						GROUP BY out_date) m
			ON r.rnum = m.mon;
		</select>
		<select id="selectRestaurant" resultType="map">
			SELECT *
			FROM RESTAURANT
			WHERE restaurant_num = (SELECT restaurant_num
									FROM ADMIN
			                        WHERE admin_id = #{sId}) 
		</select>
		<update id="updateRestaurant">
		
			UPDATE RESTAURANT
			SET ceo_name = #{ceo_name}
				,restaurant_open_time = #{restaurant_open_time}
			    ,restaurant_close_time = #{restaurant_close_time}
			    ,restaurant_address = #{restaurant_address}
			    ,restaurant_call = CONCAT(#{phon0},'-',#{phon1},'-',#{phon2})
			    ,restaurant_aim = #{restaurant_aim}
			    ,restaurant_reservation_time = #{restaurant_reservation_time}
		    WHERE restaurant_num = #{restaurant_num}
		</update>
		<insert id="insertRestaurant">
			INSERT INTO RESTAURANT
			VALUES(null
				,#{restaurant_name}
				,#{ceo_name} 
				,#{restaurant_open_time}
				,#{restaurant_close_time}
				,#{restaurant_address}
				,CONCAT(#{phon0},'-',#{phon1},'-',#{phon2})
				,#{restaurant_aim}
				,#{restaurant_reservation_time}
				)
		</insert>
		<insert id="insertAdmin">
			<selectKey keyProperty="select_restaurant_num" resultType="int" order="BEFORE">
				SELECT MAX(restaurant_num)
				FROM RESTAURANT
			</selectKey>
			INSERT INTO ADMIN
			VALUES (#{admin_id}
					,#{admin_passwd}
					,#{admin_name}
					,#{admin_business_num}
					,#{select_restaurant_num}
			)
		</insert>
		<select id="selectYearDate" resultType="map">
			WITH RECURSIVE result_year AS (
				SELECT YEAR(now()) -4 AS rnum
			    UNION ALL
			    SELECT rnum + 1 
			    FROM result_year
			    WHERE  YEAR(now()) > rnum
			)
			SELECT CONCAT(rnum,'년') as rnum ,ifnull(salary,0) as salary
			FROM result_year r left join (SELECT YEAR(order_date) AS year
												,SUM((product_count*product_price)) AS salary
											FROM USER_ORDER
											GROUP BY YEAR(order_date)) y
			ON r.rnum = y.year;
		</select>
		<select id="selectMonthDate" resultType="map">
			WITH RECURSIVE result_mons AS (
			SELECT 1 AS rnum
		    UNION ALL
		    SELECT rnum + 1 FROM result_mons
            WHERE 12 > rnum
			)

			SELECT CONCAT(rnum,'월') AS rnum ,ifnull(sales,0) AS sales
			FROM result_mons r LEFT JOIN (SELECT MONTH(order_date) as mons ,SUM((product_count*product_price)) as sales
											FROM USER_ORDER
											WHERE YEAR(order_date) = IF(#{year}=0,YEAR(now()),#{year})
											GROUP BY MONTH(order_date)) y
			on r.rnum = y.mons;
		</select>
<!-- 		<select id="selectProductByImg" resultType="map"> -->
<!-- 			SELECT cast(p.product_num as CHAR(10)) as  product_num -->
<!-- 				, p.product_name -->
<!-- 				, p.product_price -->
<!-- 				, p.product_info -->
<!-- 				, p.product_release -->
<!-- 				, p.product_category_num -->
<!-- 				, p.product_main_img -->
<!-- 				, p.product_main_img_real_file -->
<!-- 				 , i.product_image_num -->
<!-- 			     , i.product_image -->
<!-- 			     , i.product_image_real_file -->
<!-- 			  FROM PRODUCT p -->
<!-- 			  JOIN PRODUCT_IMG i -->
<!-- 				ON p.product_num = i.product_num -->
<!-- 			 WHERE p.product_num = ${product_num} -->
<!-- 		</select> -->
    </mapper>