<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.itwillbs.c3t2.mapper.AdminMapper">
     <select id="selectMemberList" resultType="com.itwillbs.c3t2.vo.MemberVO">
			SELECT * FROM MEMBER
		</select>
		<select id="selectReservationList" resultType="com.itwillbs.c3t2.vo.ReservationVO">
			SELECT * FROM RESERVATION
		</select>
<!-- 		<select id="selectReviewList" resultType="com.itwillbs.c3t2.vo.ReviewVO"> -->
<!-- 			SELECT * FROM REVIEW -->
<!-- 		</select> -->
		<select id="selectAdmin" resultType="com.itwillbs.c3t2.vo.AdminVO">
			SELECT *
			FROM ADMIN
			WHERE admin_id = #{admin_id}
		</select>
		<select id="selectProduct" resultType="com.itwillbs.c3t2.vo.ProductVO">
			SELECT  *,ROW_NUMBER() OVER(order by product_num) as num
			FROM PRODUCT
			<if test="product_num != null">
				WHERE product_num = ${product_num}
			</if>
		</select>
		<select id="selectProductImg" resultType="map">
			SELECT *
			FROM PRODUCT_IMG
			WHERE product_num = ${product_num}
		</select>
		<insert id="insertProduct">
			INSERT INTO PRODUCT
			VALUES(	null
				   ,#{product_name}
				   ,#{product_price}
				   ,#{product_info}
				   ,now()
				   ,#{product_category_num}
				   ,#{main_file_name}
				   ,#{upload_dir}
				  )
		</insert>
		<insert id="insertProductImg">
			<selectKey keyProperty="product_num" resultType="int" order="BEFORE">
				SELECT MAX(product_num)
				FROM PRODUCT
			</selectKey>
			INSERT INTO PRODUCT_IMG
			VALUES(	null
				   ,#{product_num}
				   ,#{info_file_name}
				   ,#{upload_dir}
				  )
		</insert>
		
		<delete id="deleteProductImg">
			DELETE FROM PRODUCT_IMG
			WHERE product_num = #{product_num};
		</delete>

		<delete id="deleteProduct">
			DELETE FROM PRODUCT
			WHERE product_num = #{product_num};
		</delete>
<!-- 		<select id="selectProductByImg" resultType="map"> -->
<!-- 			SELECT cast(p.product_num as CHAR(10)) as  product_num -->
<!-- 				, p.product_name -->
<!-- 				, p.product_price -->
<!-- 				, p.product_info -->
<!-- 				, p.product_release -->
<!-- 				, p.product_category_num -->
<!-- 				, p.product_main_img -->
<!-- 				, p.product_main_img_real_file -->
<!-- 				 , i.product_image_num -->
<!-- 			     , i.product_image -->
<!-- 			     , i.product_image_real_file -->
<!-- 			  FROM PRODUCT p -->
<!-- 			  JOIN PRODUCT_IMG i -->
<!-- 				ON p.product_num = i.product_num -->
<!-- 			 WHERE p.product_num = ${product_num} -->
<!-- 		</select> -->
    </mapper>