<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.itwillbs.c3t2.mapper.AdminMapper">
     <select id="selectMemberList" resultType="com.itwillbs.c3t2.vo.MemberVO">
			SELECT * FROM MEMBER
		</select>
		<select id="selectReservationList" resultType="com.itwillbs.c3t2.vo.ReservationVO">
			SELECT * FROM RESERVATION
		</select>
<!-- 		<select id="selectReviewList" resultType="com.itwillbs.c3t2.vo.ReviewVO"> -->
<!-- 			SELECT * FROM REVIEW -->
<!-- 		</select> -->
		<select id="selectAdmin" resultType="com.itwillbs.c3t2.vo.AdminVO">
			SELECT *
			FROM ADMIN
			WHERE admin_id = #{admin_id}
		</select>
			
    </mapper>