<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.c3t2.mapper.CartMapper">
	
	<!-- CART상품 조회 -->
	<select id="selectProductCartList" resultType="com.itwillbs.c3t2.vo.ProductVO">

		SELECT 
			P.product_num
			, P.product_main_img_real_file
			, P.product_name
			, P.product_price
			, C.product_count
		FROM 
			PRODUCT P JOIN CART C
			ON P.product_num = C.product_num
		WHERE
			C.member_id = #{sId}

	</select>
	
	<!-- CART상품 조회 -->
<!-- 	<select id="selectMainCartList" resultType="com.itwillbs.c3t2.vo.ProductVO"> -->

<!-- 		SELECT P.* -->
<!-- 		FROM PRODUCT P  -->
<!-- 		JOIN CART C -->
<!-- 		ON P.product_num = C.product_num -->

<!-- 	</select> -->
	
	<!-- 카트페이지에서 회원아이디 Cart 테이블에 저장 -->
	<insert id="insertCart">

		INSERT 
			INTO CART(cart_num,member_id, product_num, product_count)
			VALUES(
				null
				, #{sId}
				, #{proNum}
				, #{proCount}
			)
			
	</insert>
	
	<!-- 같은 상품이 있는지 조회 -->
	<select id="selectCartMember" resultType="com.itwillbs.c3t2.vo.CartVO" >
		SELECT *
		FROM CART
		WHERE product_num = #{proNum} AND member_id = #{sId}
	</select>
	
	<!-- 한가지 선택 상품 삭제 -->
	<delete id="deleteCartProduct">
		DELETE FROM CART
		WHERE product_num = #{proNum}
	</delete>
	
	<!-- CART에 담은 상품 총액 계산 -->
	<select id="selectCartAllPrice" resultType="com.itwillbs.c3t2.vo.CartAllPriceVO">
		SELECT SUM(product_price) as allPrice, COUNT(product_num) count
		FROM CART
		WHERE member_id = #{sId}
	</select>
	
	<!-- 카트 상품 금액 계산 결과 -->
	<update id="updateCartPrice">
		UPDATE CART C INNER JOIN PRODUCT P
		ON C.product_num = P.product_num
		SET C.product_price = C.product_count * P.product_price
		WHERE C.member_id = #{sId};
	</update>
	
	<!-- 선택 상품 삭제 진행 -->
	<delete id="deleteSelectCart">
		DELETE FROM CART
		WHERE product_num = #{proNum}
	</delete>
	
	<!-- 장바구니 비우기 -->
	<delete id="deleteAll">
		DELETE FROM CART
		WHERE member_id = #{sId}
	</delete>
	
		<!-- 삭제 후 남은 상품 보기 -->
<!-- 	<select id="selectMainCartList" resultType="com.itwillbs.c3t2.vo.ProductVO"> -->

<!-- 		SELECT  -->
<!-- 			P.product_num -->
<!-- 			, P.product_main_img_real_file -->
<!-- 			, P.product_name -->
<!-- 			, P.product_price -->
<!-- 			, C.product_count -->
<!-- 		FROM  -->
<!-- 			PRODUCT P JOIN CART C -->
<!-- 			ON P.product_num = C.product_num -->
<!-- 	</select> -->

	<!-- 선택 상품 주문 목록 조회 -->
	<select id="selectPayProduct" resultType="com.itwillbs.c3t2.vo.ProductVO">
			SELECT 
				P.product_num
				, P.product_main_img_real_file
				, P.product_name
				, P.product_price
				, O.product_count
				, O.order_detail_num
			FROM 
				PRODUCT P JOIN ORDER_DETAIL O
				ON P.product_num = O.product_num
			WHERE
				O.member_id = #{sId}
	</select>

	<!-- PAY 페이지에서 회원정보 출력 -->
	<select id="selectPayMember" resultType="com.itwillbs.c3t2.vo.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE member_id = #{sId}
	</select> 
	
	<insert id="insertFavoriteProduct">
		INSERT INTO 
			FAVORITE (favorite_num, member_id, product_num)
			VALUES(
			null
			, #{sId}
			, #{favoriteProNum}
			)
	
	</insert>
	
	<select id="selectFavoriteProduct" resultType="com.itwillbs.c3t2.vo.FavoriteVO">
		SELECT *
		FROM FAVORITE
		WHERE member_id = #{sId} AND product_num = #{favoriteProNum}	
	</select>
	
	<select id="selectAllPay" resultType="com.itwillbs.c3t2.vo.ProductVO">
			SELECT 
				P.product_num
				, P.product_main_img_real_file
				, P.product_name
				, P.product_price
				, C.product_count
			FROM 
				PRODUCT P JOIN CART C
				ON P.product_num = C.product_num
			WHERE
				C.member_id = #{sId}
	</select>
	
	<!--  선택 상품 ORDER_DETAIL에 저장 -->
	<insert id="insertOrderDetail">
		INSERT INTO
			ORDER_DETAIL(member_id, product_num, product_count, product_price, cart_num)
			SELECT member_id, product_num, product_count, product_price, cart_num
			FROM CART
			WHERE member_id = #{sId} AND product_num = #{proNum}
	
	</insert>
	
	<!-- ORDER_DETAIL 조회 -->
	<select id="selectOrderDetail">
		SELECT *
		FROM OREDER_DETAIL
		WHERE member_id = #{sId} AND product_num = {proNum}
	
	</select>
	
	<!-- 결제페이지에서 ORDER_DETAIL 지우기 -->
	<delete id="deleteOrderDetail">
		DELETE FROM
			ORDER_DETAIL
			WHERE member_id = #{sId}
	</delete>

	<!-- 상품 전체 ORDER_DETAIL에 저장 -->
	<insert id="insertOrderDetailAll">
		INSERT INTO
			ORDER_DETAIL(member_id, product_num, product_count, product_price, cart_num)
			SELECT member_id, product_num, product_count, product_price, cart_num
			FROM CART
			WHERE member_id = #{sId}
	</insert>

	<!-- 페이 상품 총액 --> 
	<select id="selectPayAllPrice" resultType="com.itwillbs.c3t2.vo.PayAllPriceVO">
		SELECT SUM(product_price) as allPrice, COUNT(product_num) count
		FROM ORDER_DETAIL
		WHERE member_id = #{sId}
	</select>
	
	<!-- 결제페이지에서 상품 삭제 -->
	<delete id="deletePayProduct">
		DELETE FROM
			ORDER_DETAIL
			WHERE product_num = #{proNum}
	</delete>
	
	<!-- 포인트 사용 시 배송지에 정보 저장 -->
	<insert id="insertReceiverUsePoint">
	INSERT INTO
		RECEIVER_INFO (receiver_info_num, member_id, receiver_name, receiver_address, receiver_phone, receiver_email, receiver_request, order_detail_num, use_point, order_date)
		VALUES(
			null
			, #{sId}
			, #{receiver_name}
			, CONCAT(#{receiver_addr1}, ' ', #{receiver_addr2})
			, #{phone}
			, CONCAT(#{eMail}, '@', #{mailUrl})
			, #{receiver_request}
			, #{order_detail_num}
			, #{usePoint} 
			, now()
		)		
	</insert>
	
	<!-- 포인트 미사용 시 배송지에 정보 저장 -->
	<insert id="insertReceiverInfo">
	INSERT INTO
		RECEIVER_INFO (receiver_info_num, member_id, receiver_name, receiver_address, receiver_phone, receiver_email, receiver_request, order_detail_num, use_point, order_date)
		VALUES(
			null
			, #{sId}
			, #{receiver_name}
			, CONCAT(#{receiver_addr1}, ' ', #{receiver_addr2})
			, #{phone}
			, CONCAT(#{eMail}, '@', #{mailUrl})
			, #{receiver_request}
			, #{order_detail_num}
			, 0
			, now()
		)		
	
	</insert>
	<select id="selectProductNames" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT GROUP_CONCAT(P.product_name SEPARATOR ' | ') AS product_name
		FROM PRODUCT P LEFT JOIN ORDER_DETAIL O
		ON P.product_num = O.product_num
		WHERE O.member_id = #{sId}
	</select>
	<insert id="insertUserOrder">
		INSERT INTO
			USER_ORDER(order_num, member_id, product_num, product_name, product_count, product_price, merchant_uid, order_date)
			VALUES(
				null
				, #{sId}
				, #{productNum}
				, #{productName}
				, #{productCount}
				, #{ProductPrice} 
				, #{merchant_uid}
				, now()
			)
	</insert>




</mapper>