<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.itwillbs.c3t2.mapper.MyPageMapper">
	
    
	<!-- 회원상세정보 조회 -->
	<select id = "selectMemberDetails" resultType="com.itwillbs.c3t2.vo.MemberVO">
		SELECT*
		FROM MEMBER 
		WHERE member_id = #{member_id}
	</select>
	
	
	<!-- 특정 회원의 모든 리뷰를 조회 -->
	<select id="getReviewList" resultType="com.itwillbs.c3t2.vo.ReviewVO">
	    SELECT r.*, p.product_name
	    FROM REVIEW r
	    JOIN PRODUCT p ON r.product_num = p.product_num
	    WHERE r.member_id = #{member_id}
	    ORDER BY r.review_date DESC
	    limit #{pageMaker.pageStart}, #{pageMaker.perPageNum} 
	</select>
	
	<!-- 리뷰 전체 개수 -->
	<select id="getReviewTotalCount" resultType="int">
	    SELECT  count(*) FROM 
            REVIEW R      
		JOIN 
            PRODUCT P ON R.review_num = R.review_num
        WHERE 
            R.member_id = #{member_id}
     </select> 
	
	<!-- 리뷰 상품번호 누르면 상품페이지로 -->
	<select id="getReviewByNum" resultType="com.itwillbs.c3t2.vo.ReviewVO">
	    SELECT * FROM REVIEW WHERE review_num = #{reviewNum}
	</select>
	
	 <!--  상품 구매 내역 -->
	<select id="getOrderList" resultType="com.itwillbs.c3t2.vo.UserOrderVO">
        SELECT
            o.order_num,
            o.member_id,
            o.order_date,
            r.receiver_address,
            r.receiver_name,
            r.receiver_phone,
            r.receiver_request,
            o.product_num,
            o.product_name,
            o.product_count,
            o.product_price,
            o.merchant_uid
        FROM
            USER_ORDER o
        INNER JOIN
            RECEIVER_INFO r ON o.merchant_uid = r.merchant_uid
        WHERE
            o.member_id = #{member_id}
        ORDER BY
            o.order_date DESC
        
        limit #{pageMaker.pageStart}, #{pageMaker.perPageNum}
    </select>
    
    <!-- 구매 전체 개수 -->
    <select id="getBuyTotalCount" resultType="int">
	    SELECT COUNT(*) FROM USER_ORDER U
	    WHERE U.member_id = #{member_id}
	</select>
	
	<!-- 각 merchant_uid에 대한 상품 이름의 결합과 총 가격을 계산하는 쿼리 -->
    <select id="getOrderListWithTotalPrices" resultType="com.itwillbs.c3t2.vo.UserOrderVO">
        SELECT
		    o.merchant_uid,
		    MAX(o.order_num) AS order_num,
		    MAX(o.order_date) AS order_date,
		    MAX(r.receiver_address) AS receiver_address,
		    MAX(r.receiver_name) AS receiver_name,
		    MAX(r.receiver_phone) AS receiver_phone,
		    MAX(r.receiver_request) AS receiver_request,
		    GROUP_CONCAT(o.product_num) AS product_nums,
		    <!-- 주문된 모든 제품 이름을 쉼표로 구분하여 연결 -->
		    GROUP_CONCAT(o.product_name) AS product_names,
		    GROUP_CONCAT(o.product_count) AS product_counts,
		    <!-- 모든 주문에 대한 총 가격을 계산 (각 제품 가격에 수량을 곱한 후 합) -->
		    SUM(o.product_price * o.product_count) AS total_price
		FROM
		    USER_ORDER o
		INNER JOIN
		    RECEIVER_INFO r ON o.merchant_uid = r.merchant_uid
		WHERE
		    o.member_id = #{member_id}
		GROUP BY
		    o.merchant_uid
		    
		limit #{pageMaker.pageStart}, #{pageMaker.perPageNum};
    </select>
	
	<!-- 장바구니 검색 SQL (저장용)-->
	<!-- 장바구니 데이터를 검색할 때 여러 조건에 따라 필터링하는 데 사용될 수 있는 SQL 조각을 정의 -->
	<!-- 다른 SQL 쿼리에서 재사용될 수 있으며, 검색 유형(searchType)과 키워드(keyword)에 따라 동적으로 WHERE 조건을 생성 -->
	<sql id="cartSearchSql">
		
		<!-- 검색 유형이 설정되어 있지 않으면 검색 조건을 추가하지 않습니다. -->
	    <if test="searchType !=null">
	    
    		<!-- 검색 유형이 'userid'인 경우, 사용자 ID를 기준으로 검색합니다. -->
            <if test="searchType == 'userid'.toString()">
            	
            	<!-- member_id 필드에 검색 키워드가 포함되는 항목을 찾습니다. -->
            	<!-- CONCAT 함수를 사용하여 키워드를 포함하는 문자열을 생성합니다. -->
                and member_id like CONCAT('%', #{keyword}, '%')
            </if>
     		
     		<!-- 검색 유형이 'username'인 경우, 사용자 이름을 기준으로 검색합니다. -->
            <if test="searchType == 'username'.toString()">
            	<!-- member_name 필드에 검색 키워드가 포함되는 항목을 찾습니다. -->
                and member_name like CONCAT('%', #{keyword}, '%')
            </if>
     		
     		<!-- 검색 유형이 'email'인 경우, 사용자 이메일을 기준으로 검색합니다. -->
            <if test="searchType == 'email'.toString()">
            	<!-- member_email 필드에 검색 키워드가 포함되는 항목을 찾습니다. -->
                and member_email like CONCAT('%', #{keyword}, '%')
            </if>
            
            <!-- 검색 유형이 'all'인 경우, 모든 필드(ID, 이름, 이메일)에서 검색합니다. -->
            <if test="searchType == 'all'.toString()">
            	<!-- OR 연산자를 사용하여 여러 필드 중 하나라도 조건을 만족하는 항목을 찾습니다. -->
                and ( 
                     member_id like CONCAT('%', #{keyword}, '%')
                    OR
                     member_name like CONCAT('%', #{keyword}, '%')
                    OR
                     member_email like CONCAT('%', #{keyword}, '%')
                )
            </if>
	    </if>
	</sql>
	
	
		<!-- 장바구니 전체 갯수 -->
	<select id="getCartTotalCount" resultType="int">
	    SELECT  count(*) FROM 
            CART C      
		JOIN 
            PRODUCT P ON C.product_num = P.product_num
        WHERE 
            C.member_id = #{member_id}
     </select> 
     
     <!-- 장바구니 삭제 -->
     <delete id="deleteCartItem" parameterType="int">
        DELETE FROM CART WHERE cart_num = #{cartNum}
    </delete>      
	
	
	
	<!-- 장바구니 목록 -->
	<select id="getCartList" resultType="com.itwillbs.c3t2.vo.CartVO">
	    SELECT 
            C.*,
            P.product_name,
            P.product_info,
            P.product_main_img_real_file
        FROM 
            CART C
        JOIN 
            PRODUCT P ON C.product_num = P.product_num
        WHERE 
            C.member_id = #{member_id}
            
  		ORDER BY regDate desc             
            limit #{pageMaker.pageStart}, #{pageMaker.perPageNum}            
     </select>       
	
	
	<!-- 찜 전체 개수 -->
	<select id="getZzimTotalCount" resultType="int">
	    SELECT  count(*) FROM 
            FAVORITE F      
		JOIN 
            PRODUCT P ON F.product_num = P.product_num
        WHERE 
            F.member_id = #{member_id}
     </select> 
	
	<!-- 찜목록 -->
	<select id="getZzimList" resultType="com.itwillbs.c3t2.vo.FavoriteVO">
		SELECT 
            F.favorite_num,
            F.member_id,
            F.product_num,
            P.product_name,
            P.product_main_img_real_file
        FROM 
            FAVORITE F
        JOIN 
            PRODUCT P ON F.product_num = P.product_num
        WHERE 
            F.member_id = #{member_id}
        ORDER BY 
		    F.favorite_num DESC
		limit #{pageMaker.pageStart}, #{pageMaker.perPageNum} 
	</select>
	
    
    <!-- 찜목록 삭제-->
    <delete id="deleteFavorite">
       DELETE FROM FAVORITE WHERE favorite_num = #{favoriteNum}
    </delete>
    
    <!-- 예약 내역 -->
    <select id="getReservation" resultType="com.itwillbs.c3t2.vo.ReservationVO">
        SELECT 
        	R.reservation_num,
            R.reservation_date,
            R.reservation_time,
            R.reservation_person_name,
            R.reservation_guest_num,
            R.reservation_person_count,
            R.reservation_cancel,
            R.dinning_num,
            R.restaurant_num
        FROM 
            RESERVATION R
        JOIN 
            MEMBER M ON R.reservation_email = M.member_e_mail
        WHERE 
            M.member_id = #{member_id}
        ORDER BY 
        	R.reservation_date DESC, R.reservation_time DESC
    </select>
    
    <!-- 예약 취소 -->
    <update id="cancelReservation">
        UPDATE RESERVATION
        SET reservation_cancel = 1
        WHERE reservation_num = #{reservationNum}
    </update>
    
    <!-- 예약 번호 누르면 예약페이지로 -->
	<select id="getReservationByNum" resultType="com.itwillbs.c3t2.vo.ReservationVO">
	    SELECT * FROM RESERVATION WHERE reservation_guest_num = #{reviewNum}
	</select>
    

				
    <!-- 회원정보 수정 -->
    <update id="updateMember" parameterType="com.itwillbs.c3t2.vo.MemberVO">
   		UPDATE MEMBER
			SET 
			member_name=#{member_name}, 
			member_phone_num=#{member_phone_num},
			member_address= CONCAT(#{member_address1}, ' ', #{member_address2}) ,
			member_address1=#{member_address1},
			member_address2=#{member_address2}, 			
			member_e_mail=CONCAT(#{member_email1}, '@', #{member_email2})
		WHERE member_id=#{member_id}
    </update>
    
     <!--  비밀번호 업데이트 -->
    <update id="updatePassword">    
	    UPDATE `MEMBER`
			SET   member_passwd=#{password}
		WHERE member_id=#{memberId}
    </update>
    
    
    <!-- 회원 탈퇴사유 등록 -->
    <insert id="insertMbershipWithdrawal">    
	    INSERT INTO MEMBER_OUT
         (out_num,${membershipWithdrawal},out_date)
     	 VALUES(null,1,now())
    </insert>
    
    
     <!-- 회원 탈퇴-->
    <delete id="deleteMemberOut">
      DELETE FROM `MEMBER` WHERE member_id=#{member_id} 
    </delete>
    
	<!-- 포인트 목록 -->
	<select id="selectPoints" resultType="com.itwillbs.c3t2.vo.PointVO">
		WITH TMP AS (
		    SELECT *
		    FROM POINT
	        WHERE member_id = #{memberId}
	        <if test="!startDate.equals('') and !endDate.equals('')">
				AND
					point_date BETWEEN #{startDate} AND date_format(date('2023-11-06') + 1, '%Y-%m-%d') -- 테이블 칼럼명에 맞춰 바꾸기!!
			</if>
	        ORDER BY 
			    point_date DESC
		    LIMIT
				#{startRow}
				, #{listLimit}
		)
		SELECT * FROM TMP
<!-- 		<if test=""> -->
		     UNION ALL
		     SELECT ''
				  , '1'
		          , member_point
		          , '회원가입 축하 포인트'
		          , member_insert_date
		          , member_id
			FROM MEMBER
		  where member_id = #{memberId}
<!-- 		</if> -->
     </select>
     
     <select id="selectPointsCount" resultType="int">
		SELECT COUNT(*)
		FROM POINT
		WHERE member_id = #{memberId}
		<if test="!startDate.equals('') and !endDate.equals('')">
			AND
				point_date BETWEEN #{startDate} AND date_format(date('2023-11-06') + 1, '%Y-%m-%d') -- 테이블 칼럼명에 맞춰 바꾸기!!
		</if>
	</select>
</mapper>