<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.c3t2.mapper.ProductMapper">
	<!-- Best 조회 -->
	<select id="selectProductBestList" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT P.*, COUNT(OD.product_num) AS 'product_count'
		FROM PRODUCT P
		LEFT JOIN ORDER_DETAIL OD ON P.product_num = OD.product_num
		GROUP BY P.product_num
		ORDER BY product_count DESC;
	</select>
	<!-- Hot 조회 -->
	<select id="selectProductHotList" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT P.*, COUNT(F.product_num) AS favorite_count
		FROM PRODUCT P
		LEFT JOIN FAVORITE F ON P.product_num = F.product_num
		GROUP BY P.product_num
		ORDER BY favorite_count DESC
	</select>
	<!-- New 조회 -->
	<select id="selectProductNewList" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		ORDER BY product_release ASC
	</select>
	<!-- Category별 조회 -->
	<!-- 
	<select id="selectCategoryList" parameterType="String" resultType="com.itwillbs.c3t2.vo.ProductImgVO">
    SELECT * FROM PRODUCT
    WHERE product_category_num = (
        SELECT product_category_num FROM PRODUCT_CATEGORY WHERE product_category_name = #{categoryName}
    )
	</select>
	-->
	<!-- 상품상세 조회 -->
	<select id="selectProductDetail" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE product_num = #{proNum}
	</select>
	<!-- 상품상세 이미지 조회 -->
	<select id="selectProductImg" resultType="com.itwillbs.c3t2.vo.ProductImgVO">
		SELECT *
		FROM PRODUCT_IMG
		WHERE product_num = #{proNum};
	</select>
	<!-- 상품상세 리뷰 조회 -->
	<select id="selectReviewList" resultType="com.itwillbs.c3t2.vo.ReviewVO">
		SELECt *
		FROM REVIEW
		WHERE product_num = #{proNum};
	</select>
	<insert id="insertReview">
		INSERT
		INTO REVIEW
		VALUES (
			NULL
			, #{member_id}
			, #{review_content}
			, 1
			, #{product_num}
			, #{review_star}
			, now()
			, #{file_name}
		)
	</insert>
	<select id="selectQnAList" resultType="com.itwillbs.c3t2.vo.QnAVO">
		SELECT
			Q.*
			, IFNULL(A.answer_num, '') AS answer_num
			, IFNULL(A.answer_content, '') AS answer_content
		FROM QUESTION Q
		LEFT JOIN ANSWER A
		ON Q.question_num = A.question_num
		WHERE Q.product_num = #{proNum}
	</select>
</mapper>