<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.c3t2.mapper.ProductMapper">
	<!-- Best 조회 -->
	<select id="selectProductBestList" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT P.*, COUNT(OD.product_num) AS 'product_count'
		FROM PRODUCT P
		LEFT JOIN ORDER_DETAIL OD ON P.product_num = OD.product_num
		GROUP BY P.product_num
		ORDER BY product_count DESC;
	</select>
	<!-- Hot 조회 -->
	<select id="selectProductHotList" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT P.*, COUNT(F.product_num) AS favorite_count
		FROM PRODUCT P
		LEFT JOIN FAVORITE F ON P.product_num = F.product_num
		GROUP BY P.product_num
		ORDER BY favorite_count DESC
	</select>
	<!-- New 조회 -->
	<select id="selectProductNewList" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		ORDER BY product_release ASC
	</select>
	<!-- Category별 조회 -->
	<!-- 
	<select id="selectCategoryList" parameterType="String" resultType="com.itwillbs.c3t2.vo.ProductImgVO">
    SELECT * FROM PRODUCT
    WHERE product_category_num = (
        SELECT product_category_num FROM PRODUCT_CATEGORY WHERE product_category_name = #{categoryName}
    )
	</select>
	-->
	<!-- 상품상세 조회 -->
	<select id="selectProductDetail" resultType="com.itwillbs.c3t2.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE product_num = #{proNum}
	</select>
	<!-- 상품상세 이미지 조회 -->
	<select id="selectProductImg" resultType="com.itwillbs.c3t2.vo.ProductImgVO">
		SELECT *
		FROM PRODUCT_IMG
		WHERE product_num = #{proNum};
	</select>
	
	<!-- 삭제 후 남은 상품 보기 -->
<!-- 	<select id="selectMainCartList" resultType="com.itwillbs.c3t2.vo.ProductVO"> -->

<!-- 		SELECT  -->
<!-- 			P.product_num -->
<!-- 			, P.product_main_img_real_file -->
<!-- 			, P.product_name -->
<!-- 			, P.product_price -->
<!-- 			, C.product_count -->
<!-- 		FROM  -->
<!-- 			PRODUCT P JOIN CART C -->
<!-- 			ON P.product_num = C.product_num -->
<!-- 	</select> -->

<select id="selectProductCartList" resultType="com.itwillbs.c3t2.vo.ProductVO">

		SELECT 
			P.product_num
			, P.product_main_img_real_file
			, P.product_name
			, P.product_price
			, C.product_count
		FROM 
			PRODUCT P JOIN CART C
			ON P.product_num = C.product_num
		WHERE
			C.member_id = #{sId}

	</select>
	
	<select id="selectMainCartList" resultType="com.itwillbs.c3t2.vo.ProductVO">

		SELECT P.*
		FROM PRODUCT P 
		JOIN CART C
		ON P.product_num = C.product_num

	</select>
	
	<!-- 카트페이지에서 회원정보 출력 -->
	<select id="selectPayMember" resultType="com.itwillbs.c3t2.vo.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE member_id = #{sId}
	</select> 
	
	<!-- 카트페이지에서 회원아이디 Cart 테이블에 저장 -->
	<insert id="insertCart">

		INSERT 
			INTO CART(cart_num,member_id, product_num, product_count)
			VALUES(
				null
				, #{sId}
				, #{proNum}
				, #{proCount}
			)
			
	</insert>
	
	<!-- 같은 상품이 있는지 조회 -->
	<select id="selectCartMember" resultType="com.itwillbs.c3t2.vo.CartVO" >
		SELECT *
		FROM CART
		WHERE product_num = #{proNum}
	</select>
	
	<!-- 한가지 선택 상품 삭제 -->
	<delete id="deleteCartProduct">
		DELETE FROM CART
		WHERE product_num = #{proNum}
	</delete>
	
	
	
	
	

	
</mapper>