<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.c3t2.mapper.ReservationMapper">
  	
	<select id="available" resultType="com.itwillbs.c3t2.vo.ReservationVO">
		SELECT #{time} FROM SCHEDULE WHERE date = #{date}
	</select>
	
<!-- 	<select id="isMember" resultType="ReservationIsMember"> -->
<!-- 		SELECT #{member_name}, #{member_phone}  -->
<!-- 		FROM MEMBER  -->
<!-- 		WHERE id = (SELECT id FROM Reservation WHERE reservation_is_member = #{reservation_is_member} -->
<!-- 	</select> 서브쿼리 or 체크박스 세션아이디 불러오기 --> 
	
	<insert id="insertReservation">
		INSERT INTO RESERVATION
		VALUES (
			null
			, #{date}
			, #{time}
			, #{reservation_person_name}
			, #{reservation_person_count}
			, #{reservation_person_phone}
			, 0
			, #{ismember}
			, #{dinning_num}
			, #{restaurant_num}
		)
	</insert>
	
	<select id="selectReservation" resultType="com.itwillbs.c3t2.vo.ReservationVO">
		SELECT * FROM RESERVATION WHERE is_member = #{is_member}
	</select>
	
<!-- 	<typeAliases> -->
<!-- 		<typeAlias type="com.itwillbs.c3t2.vo.ReservationVO" alias="ReservationIsMember"/> -->
<!-- 		<typeAlias type="com.itwillbs.c3t2.vo.ReservationVO" alias="insertReservation"/> -->
<!-- 		<typeAlias type="com.itwillbs.c3t2.vo.ReservationVO" alias="SelectReservation"/> -->
<!-- 	</typeAliases> -->
	
</mapper>